body{
    background-color: #fff;
    font-family: 'Ubuntu', sans-serif;
    overflow: hidden;
}

*{
    margin: 0px;
    padding: 0px;
}

::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 12px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--sunflowers);
}

:root{
    --sunflowers: #FFCE00;
    --night: #0375B4;
    --irises: #007849;
    --evening: #262228;
}

.header{
    z-index: 5000;
    background: #00000057;
    width: 100%;
    position: fixed;
}

.left{
    background-color: var(--sunflowers);
    width: calc(30vw + 10px);
    position: fixed;
    height: 100%;
    color: var(--evening);
    transform: translate(-80%);
    transition: 1s;
    z-index: 1000;
}

.menuOpened{
    transition: 1s;
}

.left .menu{
    left: calc(77% + 7px);
}

.left .menuTransparent{
    color: #fff;
}

.menuOpened .menuTransparent{
    color: var(--evening);
}

.menuOpened{
    transition: 0s;
}

.menuOpened .menu{
    left: 0% !important;
    transition: 0s;
}

@keyframes leftFull{
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }
}

p{
    margin-top: 15px;
    font-size: 18px;
}

.repeat{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./img/repeat.jpg);
    z-index: -1;
    background-size: cover;
}

.repeat::after{
    content: '';
    width: 100%;
    height: 100%;
    background: var(--evening);
    position: absolute;
    opacity: 0.7;
}

.left .top{
    margin: 50% 10%;
}

span,h1,h2,p{
    width: fit-content;
}

.sublinhar{
    content: '';
    width: 100%;
    height: 3px;
    bottom: 0px;
    background: var(--evening);
    animation: full 3s;
}

@keyframes full{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.wave{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(./img/wave.jpg);
    z-index: -1;
    opacity: 0.1;
}

.menu{
    position: relative;
    top: 0px;
    z-index: 1000;
    background: #fff;
    padding: 15px;
    font-size: 22px;
    width: fit-content;
    float: left;
    cursor: pointer;
}

.menu span{
    margin-left: 10px;
}

.menuTransparent{
    background: transparent;
    color: #fff;
}

@keyframes outFade{
    0%{
        transform: translateX(200%);
    }
    100%{
        transform: translateX(0%);
    }
}

.center .texto{
    position: absolute;
    width: calc(70vw - 10px);
    float: right;
    right: 0px;
    animation: outFade 1s;
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.padding-20{
    padding: 10%;
    color: #fff;
}

.texto h1,h2,p,h3{
    line-height: 35px;
}

.white{
    background: #fff;
    color: #fff;
}

.texto p{
    font-size: 16px;
}

.video-container{
    width: calc(50vw + 10px);
    height: 300px;
    background: #000;
    margin: 20px;
}

iframe{
    width: 100%;
    height: 100%;
}

h3{
    font-size: 16px;
}

.light{
    background: var(--evening);
    color: var(--sunflowers);
    padding: 10px;
    font-size: 22px;
}

.table{
    background: var(--evening);
    padding: 10px;
    width: fit-content;
}

.menuOpened{
    transform: translateX(0%);
}

.colorWhite .menuTransparent{
    color: #fff;
}

.texto{
    transition: 0.4s ease;
}

.menuOpenedNot .texto{
    left: 68px;
    width: calc(100% - 68px);
}

.yellow{
    background: var(--sunflowers) !important;
}

@media screen and (max-width: 900px){
    .left{
        z-index: 100;
        width: 80%;
    }
    .menuOpenedNot .texto{
        left: 42px;
        width: calc(100% - 40px) !important;
    }
    .texto{
        width: 100% !important;
        top: 50px;
        margin-top: 40px;
        height: 90% !important;
    }
    .video-container{
        width: 100%;
    }
    .menuTransparent{
        display: none;
    }
}
